*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans Multani', sans-serif;
}

body{
    background-color:#F6F8F9 ;
}

.logo-container{
    padding: 15px;
    margin: 5px;
    background-color: #FFFFFF;
}

.title{
    display: inline-block;
    vertical-align: top;
    font-size: 40px;
    font-weight: 900;
}

.container {
    margin-left: 200px;
    margin-right:  200px;
    margin-top: 50px;
    padding-top: 40px;
    padding-left: 100px;
    border-bottom: 1px solid rgb(224, 223, 223);
    height: 80px;
    background-color:#FFFFFF ;
    border-radius: 5px;
}

button{
   width: 80px;
   height: 30px;
   border-radius: 10%;
   margin-left: 5px;  
}

.blue-button{
   background-color: #47ADF1;
   color: white;
   border: none;
}

.white-button{
   background-color: #F6F8F9;
   color: #b3b3b4;
   border-color: #c5c5c7;
   border: 1px solid gray;
}