*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans Multani', sans-serif;
}

body{
    background-color:#F6F8F9 ;
}

.logo-container{
    padding: 15px;
    margin: 5px;
    background-color: #FFFFFF;
}

.title{
    display: inline-block;
    vertical-align: top;
    font-size: 40px;
    font-weight: 900;
}

