* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Noto Sans Multani', sans-serif;
}

body {
    background-color:#F6F8F9 ;
}

/* header  */

.logo-container{
    padding: 14px 24px;
    margin: 5px;
    font-size: 35px;
    font-weight: bold;
    background-color: #FFFFFF;
}

.title{
    display: inline-block;
    vertical-align: top;
    margin-bottom: 8px;
}

.container{
    max-width: 900px;
    margin: 0 auto;
}

/* nav  */

.button {
    padding-top: 30px;
    padding-left: 90px;
    border-bottom: 1px solid rgb(224, 223, 223);
    height: 80px;
    background-color:#FFFFFF ;
    border-radius: 5px;
}

button{
    line-height: 24px;
    padding: 0 12px;
    font-size: 15px;
    border-radius: 10px;
   margin-left: 5px;  
}

.blue-button{
   background-color: #47ADF1;
   color: white;
   border: none;
}

.white-button{
   background-color: #F6F8F9;
   color: #b3b3b4;
   border-color: #c5c5c7;
   border: 1px solid gray;
}

/* inizio lista  */

.task-list {
    padding-top: 20px;
    padding-left: 100px;
    border-bottom: 1px solid rgb(224, 223, 223);
    background-color:#FFFFFF ;
    border-radius: 5px;
}

.list{
    list-style: none;
    line-height: 40px;    
}

.space-special{
    line-height: 45px;
}

/* blocchi colorati  */

.task-tag{
display: inline-block;
color: white;
line-height: 24px;
padding: 0 12px;
font-size: 13px;
border-radius: 10px;
}

.blue-task{
background-color: #47ADF1;
}

.purple-task{
background-color: #9C72E4;
}
.green-task{
background-color: #64C0A8;
}

.orange-task{
background-color: #F29E33;
}

.pink-task{
background-color: #D863A0;
}

.yellowgreen-task{
background-color: #B0C926;
}

/* task status  */

.circle{
    width: 25px;
    aspect-ratio: 1 / 1 ;
    display: inline-block;
    border-radius: 50%;
}

 .check-entity{
    border: 1px solid green;
    background-color: white;
    color: green;
    text-align: center;
    line-height: 22px;
 }
     
.cross-entity{
    border: 1px solid currentColor;
    background-color: white;
    color: red;
    text-align: center;
    line-height: 22px;

}